{% load static %}
{% load compress %}

{% compress css %}
    <link type="text/css" rel="stylesheet" href="{% static "pretix_clippy/clippy-js/clippy.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "pretix_clippy/jquery-simple-context-menu/jquery.contextmenu.css" %}">
{% endcompress %}

{% compress js %}
    <script type="text/javascript" src="{% static "pretix_clippy/jquery-simple-context-menu/jquery.contextmenu.js" %}"></script>
    <script type="text/javascript" src="{% static "pretix_clippy/js.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "pretix_clippy/clippy-js/clippy.js" %}"></script>
{% endcompress %}

